body {
    max-width: 100%;
	background: url(../images/image.jpg);
	 
    padding-right: 10%;
    padding-left: 10%;
    margin: 0px;
    text-align: center;
}
section {
	width: 100%;
}
.button {
    margin: auto;
    text-align: center;
    
}
h1 {
	font-size:70px; 
	color: rgb(252, 252, 252);
}
#h2{
	font-size:100px; 
	color: rgb(49, 28, 28);
	margin: 0px;
	text-align: center;
}
#data-list {
	font-size: 36px;
	list-style-type: none;
	color: rgb(7, 7, 7);
	background: rgb(126, 118, 118);
	opacity: 0.8;
	border-radius:10px;
}
#list {
	/* border: 1px solid rgb(0, 0, 0); */
	padding-bottom: 12px;
	padding-top: 12px;

}
@media screen and (max-width: 800px) {
	body {
		width: 100%;
		padding-right: 10%;
		padding-left: 10%;
		margin: 0px;
		text-align: center;
		overflow: hidden;
	}
	section {
		width: 80%;
	}
	.button {
		margin: auto;
		text-align: center;
		width: 60%
	}
	h1 {
		font-size:40px;
		color: rgb(237, 241, 234);
	}
	#h2{
		font-size:50px; 
		color: rgb(0, 0, 0);
		margin: 0px;
	}
	#data-list {
		font-size:25px;
		list-style-type: none;
		color: rgb(46, 46, 41);
	}
}